.ingreso_datos, .cuerpo_datos{
    background-color: aquamarine;
}

.cabecera{
    color: blueviolet;
    padding: 15px;
    margin: 10px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}